Deforestasi/Indo_60_1641792743_fix.xls

Project_3.vehicles.us/vehicles_us.csv

Project_4.megaline/megaline_calls.csv
Project_4.megaline/megaline_internet.csv
Project_4.megaline/megaline_messages.csv
Project_4.megaline/megaline_plans.csv
Project_4.megaline/megaline_users.csv

Project_5.games/games.csv

Project_6.cabs/moved_project_sql_result_01.csv
Project_6.cabs/moved_project_sql_result_04.csv
Project_6.cabs/moved_project_sql_result_07.csv

Project_7.y_afisha/costs_us.csv
Project_7.y_afisha/orders_log_us.csv
Project_7.y_afisha/visits_log_us.csv

Project_8.online_store/hypotheses_us.csv
Project_8.online_store/orders_us.csv
Project_8.online_store/visits_us.csv

Project_9.market_research/rest_data_us.csv

Project_10.food_store_research/logs_exp_us.csv

Project_11.yt_video_ads/.ipynb_checkpoints
Project_11.yt_video_ads/trending_by_time.csv
Project_11.yt_video_ads/Proyek11_YoutubeVideoAdsAnalysis.ipynb

Project_12.gym_analysis/gym_churn_us.csv

Project_13.retail_analysis/data.csv
Project_13.retail_analysis/product_codes_us.csv
PProject_13.retail_analysis/retail_dataset_us.csv
